body {
    font-family: sans-serif;
}

div.projectWrapper {
    background: #BBBBBB;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

div.projectWrapper div.details {
    background: #DDDDDD;
    padding: 5px;
    border-radius: 10px;
}

div.projectWrapper div.title {
    color: #0000CC;
    font-size: 2em;
}

div.projectWrapper div.github {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

div.projectWrapper div.view {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}
