body {
    color: #0000CC;
    font-family: sans-serif;
}

.clear {
    clear: both;
}

div.headerText {
    color: #333333;
}

div.pageContent {
    margin-left: 150px;
    width: auto;
    padding: 10px;
    padding-top: 0px;
    position: absolute;
}

div.projectWrapper {
    background: #BBBBBB;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #666666;
}

div.projectWrapper div.details {
    background: #DDDDDD;
    padding: 5px;
    border-radius: 10px;
    display: none;
    color: #333333;
    position: relative;
}

div.projectWrapper div.expander {
    float:left;
    background: #DDDDDD;
    width: 30px;
    height:30px;
    border-radius: 15px;
    text-align: center;
    font-size: 25px;
    vertical-align: center;
    margin-right: 10px;
    margin-top: 0px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #666666;
    color: #333333;
}

div.projectWrapper div.title {
    font-size: 2em;
    float: left;
    height: 40px;
}

div.projectWrapper div.details div.detailsThumbnail {
    float: left;
    width: 225px;
}

div.projectWrapper div.details div.detailsThumbnail img{
    max-height: 200px;
    max-width: 200px;
    margin: 10px;
}

div.projectWrapper div.details div.detailsText{
    left: 240px;
    margin: 10px;
    position: absolute;
}

div.projectWrapper div.github {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

div.projectWrapper div.view {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}
